[Unit]
Description=OpenShift Daemon

[Service]
ExecStart=/usr/openshift/openshift-origin-server-v1.4.1+3f9807a-linux-64bit/openshift start

[Install]
WantedBy=default.target